@import './base.css';

  button {
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
  }
  a
  {
    text-decoration: none;
  }
  li
  {
    list-style: none;
  }

  @media (max-width:768px) {
    .main {
      padding-left: 6rem;
    }
  }
